/*
* Contain all global variables
*/
html, body {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, a, p, span {
  margin: 0;
}

.container {
  max-width: 1400px;
  padding: 0 1rem;
  box-sizing: border-box;
  margin: auto;
}

.mr-0 {
  margin-right: 0;
}

.mb-0 {
  margin-bottom: 0;
}

.mx-0 {
  margin-left: 0;
  margin-right: 0;
}

.my-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.mr-1 {
  margin-right: 0.5rem;
}

.mb-1 {
  margin-bottom: 0.5rem;
}

.mx-1 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.my-1 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.mr-2 {
  margin-right: 1rem;
}

.mb-2 {
  margin-bottom: 1rem;
}

.mx-2 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.my-2 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.mr-3 {
  margin-right: 1.5rem;
}

.mb-3 {
  margin-bottom: 1.5rem;
}

.mx-3 {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.my-3 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.mr-4 {
  margin-right: 2rem;
}

.mb-4 {
  margin-bottom: 2rem;
}

.mx-4 {
  margin-left: 2rem;
  margin-right: 2rem;
}

.my-4 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.mr-5 {
  margin-right: 4rem;
}

.mb-5 {
  margin-bottom: 4rem;
}

.mx-5 {
  margin-left: 4rem;
  margin-right: 4rem;
}

.my-5 {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.mr-6 {
  margin-right: 8rem;
}

.mb-6 {
  margin-bottom: 8rem;
}

.mx-6 {
  margin-left: 8rem;
  margin-right: 8rem;
}

.my-6 {
  margin-top: 8rem;
  margin-bottom: 8rem;
}

/*
* Page Specific Style
*/
body {
  font-family: "DM Sans", sans-serif;
  margin: 0;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}

h1 {
  color: #901c1c;
  margin-right: 56px;
}

.logo {
  height: 50px;
  margin-left: 56px;
}

#main {
  margin: 80px 0;
}

.photographer_section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 120px;
}

.photographer_section article {
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.photographer_section article .photographer-img-container {
  width: 70%;
  padding-top: 70%;
  height: 0;
  border-radius: 50%;
  background-size: cover !important;
}

.photographer_section article .photographer-name {
  color: #d3573c;
  font-size: 2.25rem;
  margin-top: 20px;
  margin-bottom: 4px;
  font-weight: 400;
}

.photographer_section article .photographer-city {
  color: #901c1c;
  font-size: 0.95rem;
  margin-bottom: 2px;
}

.photographer_section article .photographer-price {
  color: #757575;
  font-size: 0.95rem;
  margin-top: 4px;
}

#contact_modal {
  display: none;
}

.photograph-header {
  background-color: #fafafa;
  height: 300px;
  margin: 0 100px;
}

.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
}

.modal {
  border-radius: 5px;
  background-color: #DB8876;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: auto;
}

.modal header {
  justify-content: space-between;
  width: 100%;
}

.modal header img {
  cursor: pointer;
}

.modal header h2 {
  font-size: 64px;
  font-weight: normal;
  text-align: center;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  color: #312E2E;
  font-size: 36px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}

form input {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
}

/*# sourceMappingURL=global.css.map */
